Webservices/EbayApp/WebContent/wsdl/Profile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://profile.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://profile.com" xmlns:intf="http://profile.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://profile.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getSoldItems">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSoldItemsResponse">
    <complexType>
     <sequence>
      <element name="getSoldItemsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOrders">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOrdersResponse">
    <complexType>
     <sequence>
      <element name="getOrdersReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSoldItemsRequest">

      <wsdl:part element="impl:getSoldItems" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOrdersRequest">

      <wsdl:part element="impl:getOrders" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSoldItemsResponse">

      <wsdl:part element="impl:getSoldItemsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOrdersResponse">

      <wsdl:part element="impl:getOrdersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Profile">

      <wsdl:operation name="getSoldItems">

         <wsdl:input message="impl:getSoldItemsRequest" name="getSoldItemsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSoldItemsResponse" name="getSoldItemsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOrders">

         <wsdl:input message="impl:getOrdersRequest" name="getOrdersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getOrdersResponse" name="getOrdersResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProfileSoapBinding" type="impl:Profile">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSoldItems">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSoldItemsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSoldItemsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOrders">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrdersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOrdersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProfileService">

      <wsdl:port binding="impl:ProfileSoapBinding" name="Profile">

         <wsdlsoap:address location="http://localhost:8080/EbayApp/services/Profile"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
